<p>afficheportfolio works!</p>
<h2>Liste des projets</h2>
<ul>
    <div *ngFor="let projet of projets">
        <div *ngIf="projet">
            <h2>Détails du projet</h2>
            <p><strong>Nom:</strong> {{projet.nom}}</p>
            <p><strong>Description:</strong> {{projet.description}}</p>
            <p><strong>Annee:</strong> {{projet.annee}}</p>
            <p><strong>Acquis:</strong> {{projet.acquis}}</p>
            <p><strong>Domaine:</strong> {{projet.domaine}}</p>
            <p><strong>Photo:</strong> {{projet.photo}}</p>
            <p><strong>Utilisateur:</strong> {{projet.utilisateur_id}}</p>
            <div><button [routerLink]="['/all', projet.id]">Voir le projet</button></div>
        </div>
    </div>
</ul>
