
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: "Montserrat";
    font-size: 1rem;
}

h1{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.titreItalique{
    font-style: italic;
}

.titreViolet{
    color:#41035F;
}

.presMMI{
    height: auto;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    filter: drop-shadow(0 0 30px #c2c2c2);
}

h3{
    text-align: center;
    font-size: 1.5rem;
}

.intro{
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 2vh;
}

.detailMMI{
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 2vh;
}

details {
    border-bottom: 1px solid #aaa;
    padding: 0.5em 0.5em 0;
    margin-top: 1vh;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: none;
    margin-bottom: 0.5em;
}

.devweb p,.creanum p{
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 2vh;
}

.devweb,.creanum{
    height: auto;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    filter: drop-shadow(0 0 30px #c2c2c2);
}

.boxbtnPortfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btnPortfolio{
    padding: 15px 20px;
    background: #67128f;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    width: 60%;
    cursor: pointer;
    transition: all 0.3s;
}

@media screen and (min-width: 1192px) {

    .sectionMMI {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    
    .titreItalique{
        font-style: italic;
    }
    
    .titreViolet{
        color:#41035F;
    }

    .parcours{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .presMMI{
        height: auto;
        width:70vw;
        padding: 20px;
        margin: 20px;
        background-color: #ffffff;
        border-radius: 30px;
        /* filter: drop-shadow(0 0 30px #c2c2c2); */
    }

    .devweb,.creanum{
        height: 50vh;
        padding: 20px;
        margin: 20px;
        width: 35vw;
        background-color: #ffffff;
        border-radius: 30px;
        /* filter: drop-shadow(0 0 30px #c2c2c2); */
    }
}